<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layoutPadrao}">

<head>

<meta charset="utf-8"></meta>
<title>Recibo</title>

<style type="text/css">
.dt-buttons.btn-group {
    margin-bottom: 15px;
}
.iframe-container {
  overflow: visible;
  padding-top: 70%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
</style>
</head>
<body>
	<div layout:fragment="conteudo" th:fragment="conteudo">

		<section class="content-header">
			<h1>
				Recibo <small>Listagem</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/index}"><i class="fa fa-dashboard"></i>Principal</a></li>
				<li><a href="#">Recibo</a></li>
				<li class="active">Listagem</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">
			<!-- Default box -->
			<div class="row">
				<div class="col-md-12">
					<div class="box box-info">
						<div class="box-header with-border">
							<a class="btn btn-primary" th:href="@{/recibo/novo}"><i class="fa fa-plus"></i> Nova</a>
						</div>
						<div class="box-body" th:fragment="lista" id="lista">
							<table id="tabelagenerica" class="table table-bordered table-striped table-hover" width="100%">
								<thead>
									<tr>
										<th class="col-md-1" th:if="${session.usrLogado.tipoUsuario == 0}">Codigo Usuário</th>
										<th class="col-md-1">Codigo</th>
										<th class="col-md-9">Desc</th>
										<th class="col-md-1">Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="recibos : ${lstRecibo}">
										<td th:if="${session.usrLogado.tipoUsuario == 0}" th:text="${recibos.usuario.usuarioId}"></td>
										<td th:text="${recibos.reciboId}" class="min-width"></td>
										<td th:text="${recibos.placa}" class="min-width"></td>
										<td align="center" style="width: 45px;">
											<a th:onclick="'impress(' + ${recibos.reciboId} + ');'"><i class="fa fa-print" aria-hidden="true"></i></a>
											&nbsp;
											<a th:href="@{/recibo/atualizar/} + ${recibos.reciboId}" class="menu-link"><i class="fa fa-pencil" aria-hidden="true"></i></a>
											&nbsp;
											<a th:href="@{/recibo/remove/}+${recibos.reciboId}"><span class="glyphicon glyphicon-trash text-red"></span></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th class="col-md-1" th:if="${session.usrLogado.tipoUsuario == 0}">Codigo Usuário</th>
										<th class="col-md-1">Codigo</th>
										<th class="col-md-9">Nome</th>
										<th class="col-md-1">Ação</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-xl">
		    <div class="modal-content iframe-container">
		      <iframe src="" width="100%" style="border: none;" id="pdfFrame"></iframe>
		    </div>
		  </div>
		</div>
		
		<th:block layout:fragment="javascript-extra">
			<script>
				$( document ).ready(function() {
					$('table').DataTable({
		                stateSave : true,
		                responsive : true,
		                "bSort" : true,
		                dom : 'Blfrtip',
		                buttons : [ 'csv', 'excel', 'pdf' ]
		            });
				});
				
				function impress(idRecibo){
					$.ajax({
				        type: "POST",
				        url: '/recibo/imprimir',
				        data: {
				        	idRecibo : idRecibo
				        },
				        success: function (data) {
				        	$("#pdfFrame").attr("src", data);
				        	//$("#modal").modal('show');
				        },
				        error: function () {
				            //alert('falhou');
				        },
				        complete: function (){
				        	setTimeout(function(){
				        		var pdfObject = document.getElementById("pdfFrame").contentWindow;
				        		pdfObject.focus();
						        pdfObject.print();
						        //$("#modal").modal('hide');
						        removerpdf($("#pdfFrame").attr("src"));
				        	}, 2000);
				        }
				    });
				}
				
				function removerpdf(arquivo){
					$.ajax({
				        type: "POST",
				        url: '/recibo/removerPdf',
				        data: {
				        	arquivo : arquivo
				        },
				        error: function () {
				            //alert('falhou');
				        },
				    });
				}
			</script>
		</th:block>
	</div>
</body>
</html>