<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>POL&Iacute;TICA DE PRIVACIDADE</title>
</head>
<body>
<p><strong>POL&Iacute;TICA DE PRIVACIDADE</strong></p>
<ol>
<li><strong> Informa&ccedil;&otilde;es gerais</strong></li>
</ol>
<p>A presente Pol&iacute;tica de Privacidade cont&eacute;m informa&ccedil;&otilde;es a respeito do modo como tratamos, total ou parcialmente, de forma automatizada ou n&atilde;o, os dados pessoais dos usu&aacute;rios que acessam nosso site. Seu objetivo &eacute; esclarecer os interessados acerca dos tipos de dados que s&atilde;o coletados, dos motivos da coleta e da forma como o usu&aacute;rio poder&aacute; atualizar, gerenciar ou excluir estas informa&ccedil;&otilde;es.</p>
<p>Esta Pol&iacute;tica de Privacidade foi elaborada em conformidade com a Lei Federal n. 12.965 de 23 de abril de 2014 (Marco Civil da Internet), com a Lei Federal n. 13.709, de 14 de agosto de 2018 (Lei de Prote&ccedil;&atilde;o de Dados Pessoais) e com o Regulamento UE n. 2016/679 de 27 de abril de 2016 (Regulamento Geral Europeu de Prote&ccedil;&atilde;o de Dados Pessoais - RGDP).</p>
<p>Esta Pol&iacute;tica de Privacidade poder&aacute; ser atualizada em decorr&ecirc;ncia de eventual atualiza&ccedil;&atilde;o normativa, raz&atilde;o pela qual se convida o usu&aacute;rio a consultar periodicamente esta se&ccedil;&atilde;o.</p>
<ol start="2">
<li><br /> <br /> <strong> Direitos do usu&aacute;rio</strong></li>
</ol>
<p>O site se compromete a cumprir as normas previstas no RGPD, em respeito aos seguintes princ&iacute;pios:</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o processados de forma l&iacute;cita, leal e transparente (licitude, lealdade e transpar&ecirc;ncia);</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o coletados apenas para finalidades determinadas, expl&iacute;citas e leg&iacute;timas, n&atilde;o podendo ser tratados posteriormente de uma forma incompat&iacute;vel com essas finalidades (limita&ccedil;&atilde;o das finalidades);</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o coletados de forma adequada, pertinente e limitada &agrave;s necessidades do objetivo para os quais eles s&atilde;o processados (minimiza&ccedil;&atilde;o dos dados);</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o exatos e atualizados sempre que necess&aacute;rio, de maneira que os dados inexatos sejam apagados ou retificados quando poss&iacute;vel (exatid&atilde;o);</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o conservados de uma forma que permita a identifica&ccedil;&atilde;o dos titulares dos dados apenas durante o per&iacute;odo necess&aacute;rio para as finalidades para as quais s&atilde;o tratados (limita&ccedil;&atilde;o da conserva&ccedil;&atilde;o);</p>
<p>- Os dados pessoais do usu&aacute;rio ser&atilde;o tratados de forma segura, protegidos do tratamento n&atilde;o autorizado ou il&iacute;cito e contra a sua perda, destrui&ccedil;&atilde;o ou danifica&ccedil;&atilde;o acidental, adotando as medidas t&eacute;cnicas ou organizativas adequadas (integridade e confidencialidade).</p>
<p>O usu&aacute;rio do site possui os seguintes direitos, conferidos pela Lei de Prote&ccedil;&atilde;o de Dados Pessoais e pelo RGPD:</p>
<p>- Direito de confirma&ccedil;&atilde;o e acesso: &eacute; o direito do usu&aacute;rio de obter do site a confirma&ccedil;&atilde;o de que os dados pessoais que lhe digam respeito s&atilde;o ou n&atilde;o objeto de tratamento e, se for esse o caso, o direito de acessar os seus dados pessoais;</p>
<p>- Direito de retifica&ccedil;&atilde;o: &eacute; o direito do usu&aacute;rio de obter do site, sem demora injustificada, a retifica&ccedil;&atilde;o dos dados pessoais inexatos que lhe digam respeito;</p>
<p>- Direito &agrave; elimina&ccedil;&atilde;o dos dados (direito ao esquecimento): &eacute; o direito do usu&aacute;rio de ter seus dados apagados do site;</p>
<p>- Direito &agrave; limita&ccedil;&atilde;o do tratamento dos dados: &eacute; o direito do usu&aacute;rio de limitar o tratamento de seus dados pessoais, podendo obt&ecirc;-la quando contesta a exatid&atilde;o dos dados, quando o tratamento for il&iacute;cito, quando o site n&atilde;o precisar mais dos dados para as finalidades propostas e quando tiver se oposto ao tratamento dos dados e em caso de tratamento de dados desnecess&aacute;rios;</p>
<p>- Direito de oposi&ccedil;&atilde;o: &eacute; o direito do usu&aacute;rio de, a qualquer momento, se opor por motivos relacionados com a sua situa&ccedil;&atilde;o particular, ao tratamento dos dados pessoais que lhe digam respeito, podendo se opor ainda ao uso de seus dados pessoais para defini&ccedil;&atilde;o de perfil de marketing (profiling);</p>
<p>- Direito de portabilidade dos dados: &eacute; o direito do usu&aacute;rio de receber os dados pessoais que lhe digam respeito e que tenha fornecido ao site, num formato estruturado, de uso corrente e de leitura autom&aacute;tica, e o direito de transmitir esses dados a outro site;</p>
<p>- Direito de n&atilde;o ser submetido a decis&otilde;es automatizadas: &eacute; o direito do usu&aacute;rio de n&atilde;o ficar sujeito a nenhuma decis&atilde;o tomada exclusivamente com base no tratamento automatizado, incluindo a defini&ccedil;&atilde;o de perfis (profiling), que produza efeitos na sua esfera jur&iacute;dica ou que o afete significativamente de forma similar.</p>
<p>O usu&aacute;rio poder&aacute; exercer os seus direitos por meio de comunica&ccedil;&atilde;o escrita enviada ao site com o assunto "RGDP-http://www.10pache.com.br", especificando:</p>
<p>- Nome completo ou raz&atilde;o social, n&uacute;mero do CPF (Cadastro de Pessoas F&iacute;sicas, da Receita Federal do Brasil) ou CNPJ (Cadastro Nacional de Pessoa Jur&iacute;dica, da Receita Federal do Brasil) e endere&ccedil;o de e-mail do usu&aacute;rio e, se for o caso, do seu representante;</p>
<p>- Direito que deseja exercer junto ao site;</p>
<p>- Data do pedido e assinatura do usu&aacute;rio;</p>
<p>- Todo documento que possa demonstrar ou justificar o exerc&iacute;cio de seu direito.</p>
<p>O pedido dever&aacute; ser enviado ao e-mail: contato@10pache.com.br, ou por correio, ao seguinte endere&ccedil;o:</p>
<p><strong>10PACHE</strong></p>
<p>O usu&aacute;rio ser&aacute; informado em caso de retifica&ccedil;&atilde;o ou elimina&ccedil;&atilde;o dos seus dados.</p>
<ol start="3">
<li><br /> <br /> <strong> Dever de n&atilde;o fornecer dados de terceiros</strong></li>
</ol>
<p>Durante a utiliza&ccedil;&atilde;o do <em>site</em>, a fim de resguardar e de proteger os direitos de terceiros, o usu&aacute;rio do site dever&aacute; fornecer somente seus dados pessoais, e n&atilde;o os de terceiros.</p>
<ol start="4">
<li><br /> <br /> <strong>Dados Coletados</strong></li>
</ol>
<p>Os dados coletados seguem os seguintes par&acirc;metros descritos abaixo.</p>
<p><strong><br /> 4.1. Tipos de dados coletados</strong></p>
<p><strong><em>4.1.1. Dados de identifica&ccedil;&atilde;o do usu&aacute;rio para realiza&ccedil;&atilde;o de cadastro</em></strong></p>
<p>A utiliza&ccedil;&atilde;o, pelo usu&aacute;rio, de determinadas funcionalidades do site depender&aacute; de cadastro, sendo que, nestes casos, os seguintes dados do usu&aacute;rio ser&atilde;o coletados e armazenados:</p>
<p>- nome</p>
<p>- endere&ccedil;o de e-mail</p>
<p>- endere&ccedil;o postal</p>
<p>- n&uacute;mero de telefone</p>
<p>- n&uacute;mero de CPF</p>
<p>- n&uacute;mero de CNPJ</p>
<p><strong><em>4.1.2. Dados relacionados &agrave; execu&ccedil;&atilde;o de contratos firmados com o usu&aacute;rio</em></strong></p>
<p>Para a execu&ccedil;&atilde;o de contrato de compra e venda ou de presta&ccedil;&atilde;o de servi&ccedil;os eventualmente firmado entre o site e o usu&aacute;rio, poder&atilde;o ser coletados e armazenados outros dados relacionados ou necess&aacute;rios a sua execu&ccedil;&atilde;o, incluindo o teor de eventuais comunica&ccedil;&otilde;es tidas com o usu&aacute;rio.</p>
<p><strong><em>4.1.3. Registros de acesso</em></strong></p>
<p>Em atendimento &agrave;s disposi&ccedil;&otilde;es do art. 15, <em>caput</em> e par&aacute;grafos, da Lei Federal n. 12.965/2014 (Marco Civil da Internet), os registros de acesso do usu&aacute;rio ser&atilde;o coletados e armazenados por, pelo menos, seis meses.</p>
<p><strong><em>4.1.4. Newsletter</em></strong></p>
<p>O endere&ccedil;o de <em>e-mail</em> cadastrado pelo usu&aacute;rio que optar por se inscrever em nossa <em>Newsletter</em> ser&aacute; coletado e armazenado at&eacute; que o usu&aacute;rio solicite seu descadastro.</p>
<p><strong><em>4.1.5. Dados sens&iacute;veis</em></strong></p>
<p><strong>N&atilde;o</strong> ser&atilde;o coletados dados sens&iacute;veis dos usu&aacute;rios, assim entendidos aqueles definidos nos arts. 9&ordm; e 10 do RGPD e nos arts. 11 e seguintes da Lei de Prote&ccedil;&atilde;o de Dados Pessoais. Assim, dentre outros, <strong>n&atilde;o</strong> haver&aacute; coleta dos seguintes dados:</p>
<p>- dados que revelem a origem racial ou &eacute;tnica, as opini&otilde;es pol&iacute;ticas, as convic&ccedil;&otilde;es religiosas ou filos&oacute;ficas, ou a filia&ccedil;&atilde;o sindical do usu&aacute;rio;</p>
<p>- dados gen&eacute;ticos;</p>
<p>- dados biom&eacute;tricos para identificar uma pessoa de forma inequ&iacute;voca;</p>
<p>- dados relativos &agrave; sa&uacute;de do usu&aacute;rio;</p>
<p>- dados relativos &agrave; vida sexual ou &agrave; orienta&ccedil;&atilde;o sexual do usu&aacute;rio;</p>
<p>- dados relacionados a condena&ccedil;&otilde;es penais ou a infra&ccedil;&otilde;es ou com medidas de seguran&ccedil;a conexas.</p>
<p><strong><br /> 4.2. Fundamento jur&iacute;dico para o tratamento dos dados pessoais</strong></p>
<p>Ao utilizar os servi&ccedil;os do site, o usu&aacute;rio est&aacute; consentindo com a presente Pol&iacute;tica de Privacidade.</p>
<p>O usu&aacute;rio tem o direito de retirar seu consentimento a qualquer momento, n&atilde;o comprometendo a licitude do tratamento de seus dados pessoais antes da retirada. A retirada do consentimento poder&aacute; ser feita pelo e-mail: contato@10pache.com.br, ou por correio enviado ao seguinte endere&ccedil;o:</p>
<p>O consentimento dos relativamente ou absolutamente incapazes, especialmente de crian&ccedil;as menores de 16 (dezesseis) anos, apenas poder&aacute; ser feito, respectivamente, se devidamente assistidos ou representados.</p>
<p>Poder&atilde;o ainda ser coletados dados pessoais necess&aacute;rios para a execu&ccedil;&atilde;o e cumprimento dos servi&ccedil;os contratados pelo usu&aacute;rio no site.</p>
<p>O tratamento de dados pessoais sem o consentimento do usu&aacute;rio apenas ser&aacute; realizado em raz&atilde;o de interesse leg&iacute;timo ou para as hip&oacute;teses previstas em lei, ou seja, dentre outras, as seguintes:</p>
<p>- para o cumprimento de obriga&ccedil;&atilde;o legal ou regulat&oacute;ria pelo controlador;</p>
<p>- para a realiza&ccedil;&atilde;o de estudos por &oacute;rg&atilde;o de pesquisa, garantida, sempre que poss&iacute;vel, a anonimiza&ccedil;&atilde;o dos dados pessoais;</p>
<p>- quando necess&aacute;rio para a execu&ccedil;&atilde;o de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o usu&aacute;rio, a pedido do titular dos dados;</p>
<p>- para o exerc&iacute;cio regular de direitos em processo judicial, administrativo ou arbitral, esse &uacute;ltimo nos termos da Lei n&ordm; 9.307, de 23 de setembro de 1996 (Lei de Arbitragem);</p>
<p>- para a prote&ccedil;&atilde;o da vida ou da incolumidade f&iacute;sica do titular dos dados ou de terceiro;</p>
<p>- para a tutela da sa&uacute;de, em procedimento realizado por profissionais da &aacute;rea da sa&uacute;de ou por entidades sanit&aacute;rias;</p>
<p>- quando necess&aacute;rio para atender aos interesses leg&iacute;timos do controlador ou de terceiro, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular dos dados que exijam a prote&ccedil;&atilde;o dos dados pessoais;</p>
<p>- para a prote&ccedil;&atilde;o do cr&eacute;dito, inclusive quanto ao disposto na legisla&ccedil;&atilde;o pertinente.</p>
<p><strong><br /> 4.3. Finalidades do tratamento dos dados pessoais</strong></p>
<p>Os dados pessoais do usu&aacute;rio coletados pelo site t&ecirc;m por finalidade facilitar, agilizar e cumprir os compromissos estabelecidos com o usu&aacute;rio e a fazer cumprir as solicita&ccedil;&otilde;es realizadas por meio do preenchimento de formul&aacute;rios.</p>
<p>Os dados pessoais poder&atilde;o ser utilizados tamb&eacute;m com uma finalidade comercial, para personalizar o conte&uacute;do oferecido ao usu&aacute;rio, bem como para dar subs&iacute;dio ao site para a melhora da qualidade e funcionamento de seus servi&ccedil;os.</p>
<p>Os dados de cadastro ser&atilde;o utilizados para permitir o acesso do usu&aacute;rio a determinados conte&uacute;dos do site, exclusivos para usu&aacute;rios cadastrados.</p>
<p>A coleta de dados relacionados ou necess&aacute;rios &agrave; execu&ccedil;&atilde;o de um contrato de compra e venda ou de presta&ccedil;&atilde;o de servi&ccedil;os eventualmente firmado com o usu&aacute;rio ter&aacute; a finalidade de conferir &agrave;s partes seguran&ccedil;a jur&iacute;dica, al&eacute;m de facilitar e viabilizar a conclus&atilde;o do neg&oacute;cio.</p>
<p>O tratamento de dados pessoais para finalidades n&atilde;o previstas nesta Pol&iacute;tica de Privacidade somente ocorrer&aacute; mediante comunica&ccedil;&atilde;o pr&eacute;via ao usu&aacute;rio, sendo que, em qualquer caso, os direitos e obriga&ccedil;&otilde;es aqui previstos permanecer&atilde;o aplic&aacute;veis.</p>
<p><strong><br /> 4.4. Prazo de conserva&ccedil;&atilde;o dos dados pessoais</strong></p>
<p>Os dados pessoais do usu&aacute;rio ser&atilde;o conservados por um per&iacute;odo n&atilde;o superior ao exigido para cumprir os objetivos em raz&atilde;o dos quais eles s&atilde;o processados.</p>
<p>O per&iacute;odo de conserva&ccedil;&atilde;o dos dados s&atilde;o definidos de acordo com os seguintes crit&eacute;rios:</p>
<p>Os dados pessoais dos usu&aacute;rios apenas poder&atilde;o ser conservados ap&oacute;s o t&eacute;rmino de seu tratamento nas seguintes hip&oacute;teses:</p>
<p>- para o cumprimento de obriga&ccedil;&atilde;o legal ou regulat&oacute;ria pelo controlador;</p>
<p>- para estudo por &oacute;rg&atilde;o de pesquisa, garantida, sempre que poss&iacute;vel, a anonimiza&ccedil;&atilde;o dos dados pessoais;</p>
<p>- para a transfer&ecirc;ncia a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos na legisla&ccedil;&atilde;o;</p>
<p>- para uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</p>
<p><strong><br /> 4.5. Destinat&aacute;rios e transfer&ecirc;ncia dos dados pessoais</strong></p>
<p>Os dados pessoais do usu&aacute;rio n&atilde;o ser&atilde;o compartilhadas com terceiros. Ser&atilde;o, portanto, tratados apenas por este site.</p>
<ol start="5">
<li><br /> <br /> <strong> Do tratamento dos dados pessoais</strong></li>
</ol>
<p><strong>5.1. Do respons&aacute;vel pelo tratamento dos dados (</strong><em><strong>data controller</strong></em><strong>)</strong></p>
<p>O controlador, respons&aacute;vel pelo tratamento dos dados pessoais do usu&aacute;rio, &eacute; a pessoa f&iacute;sica ou jur&iacute;dica, a autoridade p&uacute;blica, a ag&ecirc;ncia ou outro organismo que, individualmente ou em conjunto com outras, determina as finalidades e os meios de tratamento de dados pessoais.</p>
<p>Neste site, o respons&aacute;vel pelo tratamento dos dados pessoais coletados &eacute; <strong>10PACHE</strong>, representada por 10PACHE, que poder&aacute; ser contactado pelo e-mail: <a href="mailto:gerencia@10pache.com.br">gerencia@10pache.com.br</a>&nbsp;.</p>
<p>O respons&aacute;vel pelo tratamento dos dados se encarregar&aacute; diretamente do tratamento dos dados pessoais do usu&aacute;rio.</p>
<p><strong><br /> 5.2. Do encarregado de prote&ccedil;&atilde;o de dados (<em>data protection officer</em>)</strong></p>
<p>O encarregado de prote&ccedil;&atilde;o de dados (<em>data protection officer</em>) &eacute; o profissional encarregado de informar, aconselhar e controlar o respons&aacute;vel pelo tratamento dos dados, bem como os trabalhadores que tratem os dados, a respeito das obriga&ccedil;&otilde;es do site nos termos do RGDP, da Lei de Prote&ccedil;&atilde;o de Dados Pessoais e de outras disposi&ccedil;&otilde;es de prote&ccedil;&atilde;o de dados presentes na legisla&ccedil;&atilde;o nacional e internacional, em coopera&ccedil;&atilde;o com a autoridade de controle competente.</p>
<p>Neste site o encarregado de prote&ccedil;&atilde;o de dados (<em>data protection officer</em>) &eacute; <strong>--------</strong>, que poder&aacute; ser contactado pelo e-mail: ------ .</p>
<ol start="6">
<li><br /> <br /> <strong> Seguran&ccedil;a no tratamento dos dados pessoais do usu&aacute;rio</strong></li>
</ol>
<p>O site se compromete a aplicar as medidas t&eacute;cnicas e organizativas aptas a proteger os dados pessoais de acessos n&atilde;o autorizados e de situa&ccedil;&otilde;es de destrui&ccedil;&atilde;o, perda, altera&ccedil;&atilde;o, comunica&ccedil;&atilde;o ou difus&atilde;o de tais dados.</p>
<p>Para a garantia da seguran&ccedil;a, ser&atilde;o adotadas solu&ccedil;&otilde;es que levem em considera&ccedil;&atilde;o: as t&eacute;cnicas adequadas; os custos de aplica&ccedil;&atilde;o; a natureza, o &acirc;mbito, o contexto e as finalidades do tratamento; e os riscos para os direitos e liberdades do usu&aacute;rio.</p>
<p>O site utiliza certificado SSL (Secure Socket Layer) que garante que os dados pessoais se transmitam de forma segura e confidencial, de maneira que a transmiss&atilde;o dos dados entre o servidor e o usu&aacute;rio, e em retroalimenta&ccedil;&atilde;o, ocorra de maneira totalmente cifrada ou encriptada.</p>
<p>No entanto, o site se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usu&aacute;rio, como no caso em que ele mesmo transfere seus dados a terceiro. O site se compromete, ainda, a comunicar o usu&aacute;rio em prazo adequado caso ocorra algum tipo de viola&ccedil;&atilde;o da seguran&ccedil;a de seus dados pessoais que possa lhe causar um alto risco para seus direitos e liberdades pessoais.</p>
<p>A viola&ccedil;&atilde;o de dados pessoais &eacute; uma viola&ccedil;&atilde;o de seguran&ccedil;a que provoque, de modo acidental ou il&iacute;cito, a destrui&ccedil;&atilde;o, a perda, a altera&ccedil;&atilde;o, a divulga&ccedil;&atilde;o ou o acesso n&atilde;o autorizados a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento.</p>
<p>Por fim, o site se compromete a tratar os dados pessoais do usu&aacute;rio com confidencialidade, dentro dos limites legais.<br /> </p>
<ol start="7">
<li><strong>Reclama&ccedil;&atilde;o</strong></li>
</ol>
<p>As reclama&ccedil;&otilde;es podem tratadas pelo site na se&ccedil;&atilde;o de contato descrita no final da pagina, podendo ser respondida ap&oacute;s o tempo de resposta das reclama&ccedil;&otilde;es recebidas anteriormente, seguindo a fila de espera.<br /> <br /> <strong>8. Das altera&ccedil;&otilde;es</strong></p>
<p>A presente vers&atilde;o desta Pol&iacute;tica de Privacidade foi atualizada pela &uacute;ltima vez em: 12/06/2020.</p>
<p>O editor se reserva o direito de modificar, a qualquer momento e sem qualquer aviso pr&eacute;vio, o site as presentes normas, especialmente para adapt&aacute;-las &agrave;s evolu&ccedil;&otilde;es do site <strong>10PACHE</strong>, seja pela disponibiliza&ccedil;&atilde;o de novas funcionalidades, seja pela supress&atilde;o ou modifica&ccedil;&atilde;o daquelas j&aacute; existentes.</p>
<p>Dessa forma, convida-se o usu&aacute;rio a consultar periodicamente esta p&aacute;gina para verificar as atualiza&ccedil;&otilde;es.</p>
<p>Ao utilizar o servi&ccedil;o ap&oacute;s eventuais modifica&ccedil;&otilde;es, o usu&aacute;rio demonstra sua concord&acirc;ncia com as novas normas. Caso discorde de alguma das modifica&ccedil;&otilde;es, dever&aacute; pedir, imediatamente, o cancelamento de sua conta e apresentar a sua ressalva ao servi&ccedil;o de atendimento, se assim o desejar.</p>
<ol start="9">
<li><br /> <br /> <strong> Do Direito aplic&aacute;vel e do foro</strong></li>
</ol>
<p>Para a solu&ccedil;&atilde;o das controv&eacute;rsias decorrentes do presente instrumento, ser&aacute; aplicado integralmente o Direito brasileiro.</p>
<p>Os eventuais lit&iacute;gios dever&atilde;o ser apresentados no foro da comarca em que se encontra a sede do editor do site.</p>
</body>
</html>